apiVersion: v1
kind: Service
metadata:
  name: {{ include "kite.fullname" . }}-api
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "kite.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: {{ .Values.api.service.type }}
  ports:
  - port: {{ .Values.api.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  - port: 9091
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    {{- include "kite.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
